body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a{ 
  display:inline-block;
  text-align:center;
  text-decoration:none;
  font-size:16px;
  font-weight:bold;
  color:#666;
}
.Fan-tou{
  height:81px;
  background:#fff;
}
.Fan-bu{
  width:1270px;
  height:81px;
  margin:0 auto;
  padding-left:20px;
  box-sizing: border-box;
}
.Fan-bu-1{
  margin-top:20px;
  float: left;
}
.Fan-nav{
  width:1215px;
  height:81px;
  float: left;
  /* margin-left:43px; */
}

.Fan-zi{
  color: #f60;
  font-size: 20px;
  line-height: 80px;
  font-weight: bold;
  margin-right:18px;
  margin-top:5px;
  float: right;

}
.Fan-bu-2{
 margin:27px 5px 0 40px; 
}
.Fan-nav-1{
  height:81px;
}
.Fan-666{
  width:100%;
  height:auto;
  overflow: hidden;
  background:yellowgreen;
}
.Fan-link{
  width:800px;
  height:81px;
  float: left;
  line-height:81px;
  margin-left:29px;
}
.Fan-zi-1{
  width:72px;
  height:81px;
}
.Fan-zi-2{
  width:120px;
  height:81px;
}
.Fan-zi-3{
  width:104px;
  height:81px;
}
.Fan-zi-4{
  width:104px;
  height:81px;
}
.Fan-zi-5{
  width:104px;
  height:81px;
}
.Fan-zi-6{
  width:104px;
  height:81px;
}
.Fan-zi-7{
  width:88px;
  height:81px;
}
.Fan-zi-8{
  width:104px;
  height:81px;

}
footer{
  height:66px;
  line-height:66px;
  background: #25292e;
  color: #666;
  text-align: center;
}
a:hover{
  cursor: pointer;
  color:#3E82F7;
}


























